@mixin button($bgcolor, $link, $hover, $bghover, $active, $visited) {
    color: $link;
    background-color: $bgcolor;
    transition:0.6s all;
    
    &:visited {
        color: $visited;
    }
    &:hover {
        color: $hover;
        background-color: $bghover;
        box-shadow: 0 0 6px 1px #6d3a1f;
        transition: 0.1s all;
    }
    &:active {
        color: $active;
        box-shadow: inset 0 0 6px 1px #6d3a1f, 0 0 1px #6d3a1f;
        // font-size:1.4rem;
        span {
            display:block;
            transform: scale(0.95);
        }
    } 
}

.button {
    flex-basis:190px;
    padding:15px 33px;
    margin-right:2%;
    border-radius:40px 7px;
    text-align:center;
    font: 1.4rem Arial;
    @include button(#6d3a1f,white,#6d3a1f,#6d3a1f4a, #6d3a1f, white)
}
.interact {
    background-color: #3c4d0e ;
}

@media (max-width:469px) {
    .button {
        flex-basis:auto;
        margin-right:0;
        margin-bottom:2%;
    }
}
@media (max-width:221px) {
    .button {
        font-size:1.2rem
    }
}
@media (max-width:196px) {
    .button {
        font-size:1.0rem
    }
}
@media (max-width:179px) {
    .button {
        padding: 10% 30%;
        font-size:0.8rem;
    }
}