.wrappper {
    width:60%;
    max-width:960px;
    min-height:95vh;
    margin:20px auto;
    padding:30px 3.3%;
    border-radius:15px;
    background-color:#f7e2bd8d;
    box-shadow: 0 0 6px 1px #0000004a;
    overflow:hidden;
}

