.task__delete-item {
    align-self: center;
    margin-left:auto;
    padding-left:15px;
    transition: transform 0.2s;

    &:active {
        transform:scale(0.9,0.9)
    }    

    .delete-item__button {       
        color: #6d3a1f;
    }
}

