.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid #6d3a1f;

    .header__title {
        margin-bottom: 0.3em;
        font: bold 2rem Calibri;
        letter-spacing: 1px;
        color: #471100;
    }

    .header__menu {
        display:flex;
    }
}