input[type="checkbox"] {
    appearance:none;    
}
.task {
    display:flex;
    min-height:28.6px;

}
.task__switch {
    position: relative;
    align-self: center;
    flex-shrink: 0;
    width:20px;
    height:20px;
    border-radius:9px 4px;
    background-color: #f7e2bd;
    box-shadow:0 0 0 1px #7a2b15;
    transition-duration: 0.2s;
    transition-property: box-shadow;

    &:checked {
        background-color:#7a2b15;
    }

    &:checked::after {
        content:"";
        position:absolute;
        top:calc(50% - 7px);
        left: 1.5px;
        width:80%;
        height:10px;
        border-bottom: 4px solid rgb(18, 228, 18);
        border-left: 4px solid rgb(18, 228, 18);
        box-sizing:border-box;
        transform: rotate(-50deg);
    }
    &:active {
        box-shadow: 0 0 3px 2px #7a2b15;
    }
}

.task__content {
    align-self:center;
    margin-left:1%;
    overflow:hidden;    
}

.lined-through {
    text-decoration:1.5px line-through black;
}

@media (max-width:300px) {
    .task__content {
        font-size:1.1rem;
        word-break: break-all;
    }
}

@media (max-width: 480px) {
    .task__content {
        margin-left:2%;
    }
}