
//рассмотреть внедрение переменных variables.sccs
$main-cont-bg:#f7e2bd8d;

$head-h1:#471100;
$head-border: #6d3a1f;
$head-btn-color: white;
$head-btn-bg:#6d3a1f;
$head-btn-hover-color:#6d3a1f;
$head-btn-hover-bg:#6d3a1f4a;
$head-btn-hover-boxshadow:#6d3a1f;
$head-btn-visited-color:white;
$head-btn-active-color:#6d3a1f;
$head-btn-active-boxshadow:#6d3a1f;


$task-bg: hsl(34, 49%, 56%);
$input-bg: #c69657;
$checkbox-bg: #f7e2bd;
$checkbox-boxshadow: #7a2b15;
$checkbox-boxshadow-active: #7a2b15;
$checkbox-checked-bg:#7a2b15;
$checkbox-mark:rgb(18, 228, 18);
