.table{
  border: 1px solid red;
  width: fit-content
}
.searchBar-bar {
  width: 150px;
}
.checkBox {
  margin-left:0
}
.checkBox-label {
  display:block;
  margin: 10px 0;
}
body {
  font-size:20px
}
.searchBar-bar {
  padding:5px;
  font-size:20px;
  
}
.productCategoryRow-category {
  font-weight:bold;
}
.table-head-row {
  display: flex;
  justify-content:space-around;
}
.table-row {
  border:2px dashed blue;
  width:auto;
  display: flex;
  justify-content:space-between;
}
.table-body-category-row {
  text-align:center;
  border:4px solid green;
}